<div class="container">
  <div class="content">

    <div class="left">

      <h1 class="page_title">  Skittles Flavor Smasher  </h1>

      <div class="login_prompt">
        Login to start FLAVOR SMASHING !!
      </div>

    </div>

    <div class="user_auth">

      <nav>
        <ul id="home_nav">
          <li><a href="/login">login</a></li>
          <li> | </li>
          <li><a href="/signup">signup</a></li>
          <li> | </li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </nav>

    </div>

  </div>
</div>