<div class="container">
  <div class="content">

    <div class="left">

      <h1 class="page_title">  Skittles Flavor Smasher  </h1>

      <div class="instructions">
        Select 3 flavors to SMASH !!
      </div>

      <div class="selected_flavors"></div>

      <div class="smash">
        <form action="/smash" id="smash_btn" method="POST">
          <input type="submit" id="scr_btn" value="Flavor Smash!">
        </form>
      </div>

      <div class="again">
        <form action="/smash_again" id="smash_again_btn" method="GET">
          <input type="submit" id="aga_btn" value="Smash Again!">
        </form>
      </div>

      <div class="results">
      </div>

    </div>

    <div class="flavors">
    </div>

    <div class="variety_bags">
    </div>

  </div>
</div>